[bumpversion]
current_version = 0.6.4
commit = True
tag = True

[bumpversion:file:__pkginfo__.py]

[bumpversion:file:README.rst]

[bumpversion:file:doc-source/index.rst]

[bumpversion:file:enum_tools/__init__.py]

[bumpversion:file:repo_helper.yml]
