include __pkginfo__.py
include LICENSE
include requirements.txt
recursive-exclude **/__pycache__ *
recursive-include enum_tools/ requirements.txt
recursive-exclude tests/ *
prune tests*
recursive-include enum_tools *.pyi
include enum_tools/py.typed
